//Colors:
$white: white;
$grey: #364258;
$light-grey: #4f5662;
$blue:#7bb6fc;


//Fonts:
$gotBook: "Gotham-book";
$gotNormal: "Gotham-normal";
$gotBold: "Gotham-bold";
$openSans: "Open Sans", sans-serif;