#header {
	background: url('../images/header_bg.png') no-repeat top center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 50px 0;

    .header {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 280px;
        
              
        &__menu {
            list-style: none;
            color: $white;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            text-transform: uppercase;  
            font-family: $gotBook; 
        }
    
        &__socials {
            display: flex;
            justify-content: space-between;
        }

        .menu-item {
            padding: 0;
            position: relative;
            vertical-align: middle;
            font-size: 14px; 
            margin: 0 35px;
            transition: .3s;

            &::before {
                content: '';
                width: 10px;
                height: 10px;
                border: 1px solid $white;
                border-radius: 50%;  
                margin-right: 5px;
                position: absolute;
                left: -20px;
                top: 10%;
                
            }

            &--active::before {
                background-color: $white;
            }
        }

        .logo {
            width: 241px;
            height: 54px;
        }       
    }

    .main {
        text-align: center;

        &__title {
            text-transform: uppercase;
            color: $white;
            font-size: 80px;
            text-align: center;
            margin: 0 auto;
            font-family: $gotBold;
        }

        &__text {
            text-transform: uppercase;
            color: $white;
            font-size: 18px;
            letter-spacing: 5.4px;
            text-align: center;
            margin: 40px auto 230px auto;
            font-family: $gotBook; 
        }
    } 
}

.social__link {
    display: block;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    .facebook,
    .twitter, 
    .instagram {
        width: 40px;
        height: 40px;
    }

}

.arrow {
    fill: $white;
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @keyframes move {
        0% {
            transform: translateY(0px);
        }
    
        
        50% {
            transform: translateY(20px);
            
        }
    
        100% {
            transform: translateY(0px);
        }
    }

}
